.evergolf-shot-edit-slider {
  margin: auto;
  margin-bottom: 1em;
  width: 200px;
}

.evergolf-shot-edit-slider-track {
  top: 8px;
  height: 8px;
  background: var(--slider-track-color);
}

.evergolf-shot-edit-slider-track.evergolf-shot-edit-slider-track-0 {
  background: salmon;
}

.evergolf-shot-edit-slider-thumb {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: salmon;
}
