.controls {
  display: flex;
}

.controlGroup {
  display: flex;

  align-items: stretch;
  border: 2px solid white;
}

.controlGroupHeader {
  font-size: 1.2em;
  padding: 0.5em;
  border-right: 1px dashed white;
}

.controlGroupItem {
  padding: 0.5em;
}
