.roundToolbar {
  display: flex;
  flex-direction: row;
}

.roundToolbar > div {
  padding: 10px;
  background-color: salmon;
  border-radius: 0.5em;
  margin: 5px;
  cursor: pointer;
}

.roundToolbar > div:hover {
  background-color: darksalmon;
}
